/* line 6, D:/sites/SlyTV/stylesheets/style.scss */
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

@font-face {
  font-family: 'alegreyasanssc-light';
  src: url("../fonts/alegreyasanssc-light.ttf"); }

@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova-Light.otf"); }

@font-face {
  font-family: 'coolvetica_rg';
  src: url("../fonts/coolvetica_rg.ttf"); }

/* line 39, D:/sites/SlyTV/stylesheets/style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 44, D:/sites/SlyTV/stylesheets/style.scss */
html {
  height: 100%; }

/* line 48, D:/sites/SlyTV/stylesheets/style.scss */
.wrap {
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  /* line 12, D:/sites/SlyTV/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

/* line 53, D:/sites/SlyTV/stylesheets/style.scss */
body {
  background-color: #f1f1f1;
  margin: 0;
  height: 100%; }

/* line 59, D:/sites/SlyTV/stylesheets/style.scss */
.header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #c3c3c3; }

/* line 66, D:/sites/SlyTV/stylesheets/style.scss */
.logo {
  height: 50px;
  margin-left: 5px;
  background-image: url("../images/site_logo.png");
  background-repeat: no-repeat;
  width: 150px;
  display: inline-block; }

/* line 75, D:/sites/SlyTV/stylesheets/style.scss */
.phone_menu {
  cursor: pointer;
  display: none;
  width: 21.34831%;
  float: left;
  margin-right: 1.1236%;
  float: right;
  margin-right: 4.49438%;
  width: 50px;
  height: 50px;
  background-color: #E75247; }

/* line 86, D:/sites/SlyTV/stylesheets/style.scss */
#phone_menu_icon {
  width: 32px;
  height: 32px;
  margin-left: 18%;
  margin-top: 18%;
  background: url("../images/icons/settings.svg") no-repeat; }

/* line 94, D:/sites/SlyTV/stylesheets/style.scss */
.searching {
  position: absolute;
  display: inline-block;
  margin-left: 30px;
  width: 32.58427%;
  float: left;
  margin-right: 1.1236%;
  height: 50px; }

/* line 102, D:/sites/SlyTV/stylesheets/style.scss */
.search_input {
  width: 100%;
  height: 95%;
  border: 0px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  background: url("../images/icons/search.svg") no-repeat 20px 50%;
  padding-left: 40px;
  color: #A9ABBE; }
  /* line 111, D:/sites/SlyTV/stylesheets/style.scss */
  .search_input:focus {
    border: 0px;
    outline: none;
    border-left: 1px solid #E75247;
    border-right: 1px solid #E75247;
    background: url("../images/icons/search-active.svg") no-repeat 20px 50%; }

/* line 120, D:/sites/SlyTV/stylesheets/style.scss */
.nondefined-user {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: #E75247; }

/* line 130, D:/sites/SlyTV/stylesheets/style.scss */
#nondef-user-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-left: 18%;
  margin-top: 18%;
  background: url("../images/icons/user.svg") no-repeat; }

/* line 140, D:/sites/SlyTV/stylesheets/style.scss */
.defined-user {
  display: inline-block;
  width: 250px;
  height: 50px;
  float: right;
  margin-right: 20px; }
  /* line 146, D:/sites/SlyTV/stylesheets/style.scss */
  .defined-user a {
    position: absolute;
    color: black;
    padding-left: 5px;
    margin-top: 15px;
    font-family: alegreyasanssc-light;
    font-size: 20px; }
  /* line 154, D:/sites/SlyTV/stylesheets/style.scss */
  .defined-user #small_avatar {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-top: 0.095em;
    border: 1px solid #cccccc;
    background-color: #eaeaea;
    border-radius: 4px; }
  /* line 163, D:/sites/SlyTV/stylesheets/style.scss */
  .defined-user #l_out {
    font-family: alegreyasanssc-light;
    width: 80px;
    height: 27px;
    border: 1px solid #cccccc;
    text-align: center;
    padding-top: 3px;
    background-color: white;
    cursor: pointer; }
  /* line 173, D:/sites/SlyTV/stylesheets/style.scss */
  .defined-user #logout_form {
    position: absolute;
    margin-top: 13px;
    display: inline-block;
    width: 80px;
    height: 27px;
    padding: 0;
    margin-left: 100px; }

/* line 184, D:/sites/SlyTV/stylesheets/style.scss */
#shirm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: #cccccc;
  z-index: 1; }

/* line 192, D:/sites/SlyTV/stylesheets/style.scss */
#win {
  position: absolute;
  z-index: 3;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/* line 201, D:/sites/SlyTV/stylesheets/style.scss */
#loginform {
  padding: 10px;
  width: 300px;
  height: 280px;
  border: 0;
  background-color: white;
  font-family: alegreyasanssc-light; }
  /* line 208, D:/sites/SlyTV/stylesheets/style.scss */
  #loginform p {
    display: inline-block;
    font-size: 32px;
    margin-left: 50%;
    transform: translate(-50%, -85%);
    margin-bottom: 0; }
  /* line 215, D:/sites/SlyTV/stylesheets/style.scss */
  #loginform #login, #loginform #pass {
    outline: none;
    border: 0;
    border-bottom: 3px solid red;
    width: 75%;
    margin-left: 5%;
    height: 40px;
    margin-bottom: 10px;
    font-family: alegreyasanssc-light;
    font-size: 20px;
    padding-left: 40px;
    text-align: left;
    transition: border-bottom 0.2s ease-in-out; }
    /* line 228, D:/sites/SlyTV/stylesheets/style.scss */
    #loginform #login:focus, #loginform #pass:focus {
      border-bottom: 1px solid #E75247;
      transition: border-bottom 0.2s ease-in-out; }
  /* line 234, D:/sites/SlyTV/stylesheets/style.scss */
  #loginform #remember {
    margin-left: 15px; }
  /* line 238, D:/sites/SlyTV/stylesheets/style.scss */
  #loginform #or {
    font-size: 18px;
    margin-top: 75px; }

/* line 244, D:/sites/SlyTV/stylesheets/style.scss */
#login {
  background: url("../images/icons/userlogin-icon.svg") no-repeat 10px;
  background-size: 20px;
  margin-top: -20px; }

/* line 250, D:/sites/SlyTV/stylesheets/style.scss */
#pass {
  background: url("../images/icons/lock.svg") no-repeat 10px;
  background-size: 20px; }

/* line 255, D:/sites/SlyTV/stylesheets/style.scss */
#login-button {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  margin-top: 30px;
  margin-left: -90px;
  width: 75%;
  height: 40px;
  outline: none;
  border: 0;
  background-color: #E75247;
  box-shadow: 0 2px 2px 2px #d96a5d;
  border-radius: 10px;
  color: white;
  font-family: alegreyasanssc-light;
  font-size: 20px; }
  /* line 271, D:/sites/SlyTV/stylesheets/style.scss */
  #login-button:active {
    background-color: #d96a5d;
    box-shadow: none; }

/* line 277, D:/sites/SlyTV/stylesheets/style.scss */
.ssilk {
  position: absolute;
  display: inline-block;
  color: #E75247;
  transition: font-size 0.5s ease-in-out;
  transform-origin: center;
  margin-top: 115px; }
  /* line 284, D:/sites/SlyTV/stylesheets/style.scss */
  .ssilk:hover {
    color: red;
    font-size: 15.5px; }

/* line 290, D:/sites/SlyTV/stylesheets/style.scss */
.reg {
  margin-left: -18%;
  margin-top: 75px; }

/* line 295, D:/sites/SlyTV/stylesheets/style.scss */
.close {
  float: right;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: inline-block;
  z-index: 6;
  background: #E75247;
  transform-origin: center;
  box-shadow: 2px 2px 10px #E16960; }
  /* line 305, D:/sites/SlyTV/stylesheets/style.scss */
  .close svg {
    transform-origin: center;
    margin-left: 25%;
    margin-top: 25%;
    transition: transform 0.5s ease-in-out; }
  /* line 312, D:/sites/SlyTV/stylesheets/style.scss */
  .close:hover svg {
    transform: scale(1.8, 1.8);
    transition: transform 0.5s ease-in-out; }
  /* line 317, D:/sites/SlyTV/stylesheets/style.scss */
  .close:active {
    background: #E16960; }
    /* line 319, D:/sites/SlyTV/stylesheets/style.scss */
    .close:active svg {
      transform: scale(0.8, 0.8);
      transition: transform 0.5s ease-in-out; }

/* line 326, D:/sites/SlyTV/stylesheets/style.scss */
.side {
  display: inline-block;
  width: 185px;
  height: 300px;
  border-right: 1px solid #cccccc; }
  /* line 331, D:/sites/SlyTV/stylesheets/style.scss */
  .side ul {
    margin: 0;
    padding: 0;
    margin-top: 5px; }
    /* line 335, D:/sites/SlyTV/stylesheets/style.scss */
    .side ul li {
      list-style: none;
      height: 25px;
      margin-bottom: 1px;
      border-bottom: 1px solid #cccccc;
      padding-top: 15px;
      border-right: 0;
      transition: border-right 0.2s ease-in-out; }
      /* line 343, D:/sites/SlyTV/stylesheets/style.scss */
      .side ul li:hover {
        border-right: 5px solid red;
        transition: border-right 0.2s ease-in-out; }
      /* line 347, D:/sites/SlyTV/stylesheets/style.scss */
      .side ul li a {
        cursor: pointer;
        margin-top: -16px;
        float: right;
        width: 100%;
        text-align: right;
        padding-bottom: 9px;
        padding-top: 10px;
        color: black;
        font-family: ProximaNova-Light;
        font-size: 18px; }
        /* line 358, D:/sites/SlyTV/stylesheets/style.scss */
        .side ul li a:after {
          position: relative;
          margin-left: 5px;
          margin-right: 5px; }

/* line 368, D:/sites/SlyTV/stylesheets/style.scss */
.home:after {
  content: url("../images/icons/home.svg");
  top: 2px; }

/* line 373, D:/sites/SlyTV/stylesheets/style.scss */
.categ:after {
  content: url("../images/icons/list.svg");
  top: 2px; }

/* line 378, D:/sites/SlyTV/stylesheets/style.scss */
.latest-vid:after {
  content: url("../images/icons/film.svg");
  top: 2px; }

/* line 383, D:/sites/SlyTV/stylesheets/style.scss */
.account:after {
  content: url("../images/icons/user-tie.svg");
  top: 1px; }

/* line 388, D:/sites/SlyTV/stylesheets/style.scss */
.my-vid:after {
  content: url("../images/icons/play.svg");
  top: 2px; }

/* line 393, D:/sites/SlyTV/stylesheets/style.scss */
.cont {
  width: 83.14607%;
  float: left;
  margin-right: 1.1236%;
  min-height: 100%;
  width: 85%;
  margin-left: 195px;
  margin-top: -303px; }

/* line 401, D:/sites/SlyTV/stylesheets/style.scss */
.footer {
  display: inline-block;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

/* line 406, D:/sites/SlyTV/stylesheets/style.scss */
#preloader {
  display: none; }

/* line 410, D:/sites/SlyTV/stylesheets/style.scss */
#reg_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 300px;
  width: 400px;
  border: 1px solid #E75247;
  border-bottom: 6px solid #E75247;
  border-top: 6px solid #E75247;
  border-radius: 15px; }
  /* line 422, D:/sites/SlyTV/stylesheets/style.scss */
  #reg_form .in_pole {
    width: 90%;
    height: 50px;
    margin-left: 4.5%;
    margin-top: 20px;
    font-family: alegreyasanssc-light; }

/* line 431, D:/sites/SlyTV/stylesheets/style.scss */
.apply {
  width: 80%;
  height: 40px;
  margin-left: 10%;
  margin-top: 15px;
  border-radius: 10px;
  outline: none;
  border: 3px solid #E75247;
  background-color: #E23D31;
  color: white;
  font-size: 16px;
  font-family: alegreyasanssc-light;
  cursor: pointer; }
  /* line 444, D:/sites/SlyTV/stylesheets/style.scss */
  .apply:hover {
    margin-top: 20px; }
  /* line 447, D:/sites/SlyTV/stylesheets/style.scss */
  .apply:active {
    outline: none; }

/* line 452, D:/sites/SlyTV/stylesheets/style.scss */
#reg_label {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  font-size: 42px;
  font-family: alegreyasanssc-light; }

/* line 462, D:/sites/SlyTV/stylesheets/style.scss */
#mainContent p {
  display: block;
  font-size: 32px;
  font-family: alegreyasanssc-light;
  margin-left: 40%;
  height: 32px; }

/* line 473, D:/sites/SlyTV/stylesheets/style.scss */
#add_video_form_id p {
  width: 200px;
  font-size: 18px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 50px;
  font-family: alegreyasanssc-light; }
  /* line 481, D:/sites/SlyTV/stylesheets/style.scss */
  #add_video_form_id p:first-child {
    display: inline-block; }

/* line 485, D:/sites/SlyTV/stylesheets/style.scss */
#add_video_form_id #video_name_input {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  height: 50px;
  padding-left: 20px;
  font-size: 24px;
  font-family: alegreyasanssc-light;
  outline: none;
  border: 1px solid #cccccc; }
  /* line 496, D:/sites/SlyTV/stylesheets/style.scss */
  #add_video_form_id #video_name_input:focus {
    border: 1px solid #E23D31;
    color: #E23D31; }

/* line 501, D:/sites/SlyTV/stylesheets/style.scss */
#add_video_form_id #video_desc_input {
  position: relative;
  padding-top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  height: 200px;
  resize: none;
  font-size: 18px;
  font-family: ProximaNova-Light;
  padding-left: 20px;
  outline: none;
  border: 1px solid #cccccc; }
  /* line 514, D:/sites/SlyTV/stylesheets/style.scss */
  #add_video_form_id #video_desc_input:focus {
    border: 1px solid #E23D31; }

/* line 518, D:/sites/SlyTV/stylesheets/style.scss */
#add_video_form_id .apply {
  position: relative;
  width: 250px;
  height: 50px;
  margin-left: 445px;
  margin-bottom: 30px;
  margin-top: 50px; }

/* line 528, D:/sites/SlyTV/stylesheets/style.scss */
.upload {
  position: relative;
  width: 92%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  margin-bottom: 100px;
  display: none; }

/* line 538, D:/sites/SlyTV/stylesheets/style.scss */
#error_block {
  display: none;
  border-bottom: 2px solid #E23D31;
  width: 200px;
  font-family: alegreyasanssc-light;
  color: black;
  text-align: center; }

/* line 547, D:/sites/SlyTV/stylesheets/style.scss */
.footer {
  width: 100%;
  height: 50px;
  margin-top: -50px;
  border-top: 2px solid #474747;
  background-color: #444444; }
  /* line 553, D:/sites/SlyTV/stylesheets/style.scss */
  .footer p, .footer span {
    color: white;
    font-size: 12px; }
  /* line 557, D:/sites/SlyTV/stylesheets/style.scss */
  .footer p {
    margin-left: 30px;
    margin-top: 5px; }
  /* line 561, D:/sites/SlyTV/stylesheets/style.scss */
  .footer span {
    float: right;
    margin-top: -15px;
    margin-right: 30px; }

/* line 568, D:/sites/SlyTV/stylesheets/style.scss */
.vid_prev {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px; }
  /* line 574, D:/sites/SlyTV/stylesheets/style.scss */
  .vid_prev .pic {
    background-color: #eaeaea;
    background: url("../favicon.png") no-repeat 0 50px;
    background-size: 100%;
    border: 1px solid #cccccc;
    width: 290px;
    height: 150px;
    margin-left: 5px;
    background-color: gray; }
  /* line 584, D:/sites/SlyTV/stylesheets/style.scss */
  .vid_prev .v_name, .vid_prev #v_user {
    font-size: 18px;
    margin-left: 5px;
    height: 18px; }
  /* line 589, D:/sites/SlyTV/stylesheets/style.scss */
  .vid_prev .v_name {
    outline: none;
    cursor: pointer;
    color: black; }
  /* line 594, D:/sites/SlyTV/stylesheets/style.scss */
  .vid_prev #v_user {
    border-bottom: 1px solid #E23D31; }

/* line 599, D:/sites/SlyTV/stylesheets/style.scss */
.video_block {
  width: 640px;
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block; }

/* line 607, D:/sites/SlyTV/stylesheets/style.scss */
.video {
  width: 640px;
  height: 264px;
  background-color: white;
  border: 1px solid #cccccc; }

/* line 614, D:/sites/SlyTV/stylesheets/style.scss */
.info {
  border-bottom: 1px solid #E23D31;
  height: 36px; }
  /* line 617, D:/sites/SlyTV/stylesheets/style.scss */
  .info #p_v_name {
    margin-left: 0;
    display: inline-block; }
  /* line 621, D:/sites/SlyTV/stylesheets/style.scss */
  .info .add_button {
    float: right;
    color: white;
    background-color: #34BD34;
    border: 1px solid #2A892A;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
    font-family: alegreyasanssc-light; }
    /* line 635, D:/sites/SlyTV/stylesheets/style.scss */
    .info .add_button:hover {
      width: 100px;
      transition: width 0.4s ease-in-out;
      font-size: 14px; }
  /* line 641, D:/sites/SlyTV/stylesheets/style.scss */
  .info #timespan_text {
    display: block;
    margin-top: 10px;
    resize: none;
    width: 640px; }
  /* line 647, D:/sites/SlyTV/stylesheets/style.scss */
  .info #add_text_timestamp {
    float: left;
    margin-left: 246px;
    width: 150px; }
  /* line 652, D:/sites/SlyTV/stylesheets/style.scss */
  .info .add_timespan {
    display: none; }

/* line 657, D:/sites/SlyTV/stylesheets/style.scss */
.t_spans_block {
  display: inline-block;
  float: right;
  height: 300px;
  width: 450px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #cccccc; }
  /* line 666, D:/sites/SlyTV/stylesheets/style.scss */
  .t_spans_block .timespan_link_div {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #cccccc;
    cursor: pointer; }
    /* line 671, D:/sites/SlyTV/stylesheets/style.scss */
    .t_spans_block .timespan_link_div:hover {
      border-bottom: 1px solid #E23D31; }
    /* line 674, D:/sites/SlyTV/stylesheets/style.scss */
    .t_spans_block .timespan_link_div #timespan_link_time, .t_spans_block .timespan_link_div #timespan_user, .t_spans_block .timespan_link_div #timespan_link_text {
      cursor: pointer;
      display: inline-block;
      padding: 0;
      margin: 0;
      margin-left: 15px;
      font-size: 12px; }

@media screen and (max-width: 720px) {
  /* line 690, D:/sites/SlyTV/stylesheets/style.scss */
  .side {
    display: none; }
  /* line 694, D:/sites/SlyTV/stylesheets/style.scss */
  .phone_menu {
    display: inline-block; }
  /* line 697, D:/sites/SlyTV/stylesheets/style.scss */
  .cont {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  /* line 705, D:/sites/SlyTV/stylesheets/style.scss */
  .searching {
    width: 38.20225%;
    float: left;
    margin-right: 1.1236%; } }

@media screen and (max-width: 620px) {
  /* line 712, D:/sites/SlyTV/stylesheets/style.scss */
  .logo {
    display: none; }
  /* line 716, D:/sites/SlyTV/stylesheets/style.scss */
  .side {
    display: none; }
  /* line 720, D:/sites/SlyTV/stylesheets/style.scss */
  .phone_menu {
    display: inline-block; }
  /* line 723, D:/sites/SlyTV/stylesheets/style.scss */
  .cont {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  /* line 727, D:/sites/SlyTV/stylesheets/style.scss */
  .searching {
    width: 21.34831%;
    float: left;
    margin-right: 1.1236%; } }

/*# sourceMappingURL=style.css.map */