// Screen
// ======

@import "../sass/_grids";

a,a:link,a:visited,a:hover,a:active{text-decoration:none}

@font-face{
    font-family : 'alegreyasanssc-light';
    src: url('../fonts/alegreyasanssc-light.ttf');
}

@font-face{
    font-family : 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.otf');
}

@font-face{
    font-family : 'coolvetica_rg';
    src: url('../fonts/coolvetica_rg.ttf');
}

$decor-text-color: #E75247;
$header-bg-color : #ffffff;
$header-buttons-color : #E75247;
$header-height : 50px;
$lock-icon: '../images/icons/lock.svg';
$loginform-width : 300px;
$logo-image : '../images/site_logo.png';
$nondefined_user-icon : '../images/icons/user.svg';
$phone-menu-icon : '../images/icons/settings.svg';
$redbuttons : #E23D31;
$search-icon : '../images/icons/search.svg';
$search-icon-active : '../images/icons/search-active.svg';
$site_bg_color : #f1f1f1;
$userlogin-icon: '../images/icons/userlogin-icon.svg';

.wrap{
    @include container();
    height: 700px;
}

body{
    background-color: $site_bg_color;
    margin: 0;
}

.header{
    @include span(18);
    background-color: $header-bg-color;
    border-bottom: 1px solid #c3c3c3;
    height: $header-height;
}

.logo{
    background-image: url($logo-image);
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    margin-left: 5px;
    width: 150px;
}

.phone_menu{
    @include span(4);
    background-color: $header-buttons-color;
    cursor: pointer;
    display: none;
    float: right;
    height: 50px;
    margin-right: span(1);
    width: 50px;
}

#phone_menu_icon{
    background: url($phone-menu-icon) no-repeat;
    height: 32px;
    margin-left: 18%;
    margin-top: 18%;
    width: 32px;
}

.searching{
    @include span(6);
    display: inline-block;
    height:$header-height;
    margin-left: 30px;
    position: absolute;
}

.search_input{
    background: url($search-icon) no-repeat 20px 50%;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border: 0px;
    color: #A9ABBE;
    height: 95%;
    padding-left: 40px;
    width: 100%;
    &:focus{
        border: 0px;
        outline: none;
      background: url($search-icon-active) no-repeat 20px 50%;
      border-left: 1px solid #E75247;
      border-right: 1px solid #E75247;
    }
}

.nondefined-user{
    background-color: $header-buttons-color;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

#nondef-user-icon{
    background: url($nondefined_user-icon) no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    margin-left: 18%;
    margin-top: 18%;
    width: 32px;
}

#shirm{
    background: #cccccc;
    display: none;
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 1;
}

#win{
    display: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

#loginform{
    background-color: white;
    border: 0;
    font-family: alegreyasanssc-light;
    height: 250px;
    padding: 10px;
    width: $loginform-width;
    p{
        display: inline-block;
        font-size: 32px;
        margin-bottom: 0;
        margin-left: 50%;
        transform: translate(-50%,-85%);
    }
    #login,#pass{
        border-bottom: 3px solid red;
        border: 0;
        font-family: alegreyasanssc-light;
        font-size: 20px;
        height: 40px;
        margin-bottom: 10px;
        margin-left: 5%;
        outline: none;
        padding-left: 40px;
        text-align: left;
        transition: border-bottom .2s ease-in-out;
        width: 75%;
        &:focus{
            border-bottom: 1px solid #E75247;
            transition: border-bottom .2s ease-in-out;
        }
    }
}

#login{
    background-size: 20px;
    background: url($userlogin-icon) no-repeat 10px;
    margin-top: -20px;
}

#pass{
    background-size: 20px;
   background: url($lock-icon) no-repeat 10px;
}

#login-button{
    background-color: $header-buttons-color;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 2px 2px 2px #d96a5d;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: alegreyasanssc-light;
    font-size: 20px;
    height: 40px;
    margin-left: -250px;
    margin-top: 60px;
    outline: none;
    position: absolute;
    width: 75%;
    &:active{
        background-color: #d96a5d;
        box-shadow: none;
        margin-top: 62px;
    }
}

.ssilk{
    color: $decor-text-color;
    display: inline-block;
    margin-top: 115px;
    position: absolute;
    transform-origin: center;
    transition: font-size .5s ease-in-out;
    &:hover{
        color: red;
        font-size: 15.5px;
    }
}
.remind{
    margin-left: -40%;
}

.reg{
    margin-left: -78%;
}

.close{
    background: $header-buttons-color;
    box-shadow: 2px 2px 10px #E16960;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 32px;
    transform-origin: center;
    width: 32px;
    z-index: 6;
    svg{
        margin-left: 25%;
        margin-top: 25%;
        transform-origin: center;
        transition: transform .5s ease-in-out;
    }
    &:hover{
        svg{
            transform: scale(1.8,1.8);
            transition: transform .5s ease-in-out;
        }
    }
    &:active{
        background: #E16960;
        svg{
            transform: scale(0.8,0.8);
            transition: transform .5s ease-in-out;
        }
    }
}

.side{
    border-right: 1px solid #cccccc;
    display: inline-block;
    height: 300px;
    width: 185px;
    ul{
        margin: 0;
        padding: 0;
        margin-top: 5px;
        li{
            border-bottom: 1px solid #cccccc;
            border-right: 0;
            height: 25px;
            list-style:none;
            margin-bottom: 1px;
            padding-top: 15px;
            transition: border-right .2s ease-in-out;
            &:hover{
                border-right: 5px solid red;
                transition: border-right .2s ease-in-out;
            }
            a{
                color: black;
                float: right;
                font-family: ProximaNova-Light;
                font-size: 18px;
                margin-top: -16px;
                padding-bottom: 9px;
                padding-top: 10px;
                text-align: right;
                width: 100%;
                &:after{
                    margin-left: 5px;
                    margin-right: 5px;
                    position: relative;
                }
            }
        }
    }
}

.home:after{
    content: url('../images/icons/home.svg');
    top: 2px;
}

.categ:after{
    content: url('../images/icons/list.svg');
    top: 2px;
}

.latest-vid:after{
    content: url('../images/icons/film.svg');
    top: 2px;
}

.account:after{
    content: url('../images/icons/user-tie.svg');
    top: 1px;
}

.my-vid:after{
    content: url('../images/icons/play.svg');
    top: 2px;
}

.cont{
    display: flex;
    min-height: 300px;
    width: 85%;
    margin-left: 195px;
    margin-top: -303px;
}

.footer{
    display: inline-block;
    @include span(18);
}

#preloader{
    display: none;
}

#reg_form{
    background-color: white;
    border-bottom: 6px solid $header-buttons-color;
    border-radius: 15px;
    border-top: 6px solid $header-buttons-color;
    border: 1px solid $header-buttons-color;
    height: 300px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    .in_pole{
        font-family: alegreyasanssc-light;
        height: 50px;
        margin-left: 4.5%;
        margin-top: 20px;
        width: 90%;
    }
    .apply{
        background-color: $redbuttons;
        border-radius: 10px;
        border: 3px solid $header-buttons-color;
        color: white;
        cursor: pointer;
        font-family: alegreyasanssc-light;
        font-size: 16px;
        height: 40px;
        margin-left: 10%;
        margin-top: 15px;
        outline: none;
        width: 80%;
        &:hover{
            margin-top: 
        }
    }
}

#reg_label{
        font-family: alegreyasanssc-light;
        font-size: 42px;
        left: 50%;
        position: absolute;
        top: 10%;
        transform: translate(-50%,0);
    }

@media screen and (max-width:720px){
    .logo{
        
    }
    
    .side{
        display: none;    
    }

    .phone_menu{
        display: inline-block;
    }
    .cont{
        @include span(18); 
    }
    
    .nondefined-user{
        
    }
    
    .searching{
        @include span(7);
    }
}


@media screen and (max-width:620px){
    .logo{
        display: none;
    }
    
    .side{
        display: none;    
    }

    .phone_menu{
        display: inline-block;
    }
    .cont{
        @include span(18); 
    }
    
    .searching{
        @include span(4);
    }
}